body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-item {
  width: 200px;
  height: 120px;
  border: 2px solid #ccc;
  cursor: move;
  background-size: cover;
  background-position: center;
}

/* Add background images */
#div1 { background-image: url('https://picsum.photos/id/1015/200/120'); }
#div2 { background-image: url('https://picsum.photos/id/1016/200/120'); }
#div3 { background-image: url('https://picsum.photos/id/1018/200/120'); }
#div4 { background-image: url('https://picsum.photos/id/1019/200/120'); }
#div5 { background-image: url('https://picsum.photos/id/1020/200/120'); }
#div6 { background-image: url('https://picsum.photos/id/1021/200/120'); }
